.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  transition:
    opacity 0.5s,
    transform 0.5s;
  opacity: 1;
  transform: translateY(0);
  padding-bottom: 0.5rem;
  margin-top: 5rem;
  width: fit-content;
}

.content-wrapper {
  padding-bottom: 1.5rem;
}

.terms-conditions-wrapper {
  padding-bottom: 1rem;
  font-size: 14px;
}

.card-label {
  display: flex;
  font-size: 14px;
  font-family: 'Roboto';
  padding-bottom: 0.5rem;
}

.bottom-label {
  color: #797979;
  justify-content: center;
}

.card-input {
  background-color: #fff;
  color: #000;
  padding: 10px 100px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button.btn {
  margin-left: auto;
  margin-right: auto;
  padding: 0.7rem 3.5rem 0.7rem 3.5rem;
  font-size: 1rem;
}

.login-button.btn-disabled {
  color: rgb(117, 116, 122) !important;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.login-form {
  padding-bottom: 1.5rem;
}

.signup-button {
  border: none;
  background: none;
  cursor: pointer;
  color: #797979;
  font-size: 14px;
  font-family: 'Roboto';
  padding-top: 0;
  color: #333;
}

/*//////////////////////*/
/*///FORM VALIDATION///*/
/*////////////////////*/

.is-invalid {
  border-color: red;
}
.error-message {
  color: red;
  font-size: 0.8rem;
  display: flex;
}

.success-message {
  color: green;
  font-size: 0.8rem;
}

.card.login-signup-card {
  margin-top: 0;
}
