/* container */

.event-container-event {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
  width: 100%;
}

/* lewa strona */

.event-detail {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  flex: 1;
}

.event-info {
  padding: 16px;
  width: 100%;
  text-align: left;
}

.event-info h3 {
  margin-top: 8px;
}

.event-image {
  width: 100%;
  height: 300px;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* prawa strona */

.event-location {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #e5e5e5;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.event-map {
  width: 100%;
  height: 400px;
}

.event-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-info-event {
  margin: auto;
  width: 100%;
  text-align: right;
}

.event-button {
  background-color: black;
}

.event-info-event button {
  background-color: black;
}
