html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: calc(100vh - 4px);
}

.header {
  font-size: 3rem;
  margin-bottom: 0;
  line-height: 1;
  color: #fff;
}

.header-wrapper {
  margin-bottom: 3rem;
}

.header-filter {
  font-size: 16px;
  margin-top: 0;
  color: #000;
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 6px;
  width: 120px;
}

.header-filter + .header-filter {
  margin-left: 10px; /* Adjust as needed */
}

.landing-page {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets//backgroundImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
}

.title {
  position: absolute;
  left: 0;
  padding-left: 3rem;
}

.top-app-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: linear-gradient(to right, #695d5d, #fff);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.top-app-bar .login-button {
  margin-right: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 12px;
}

.login-button {
  margin-left: 10px;
}

.login-button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.search-container {
  position: relative;
  display: inline-block;
}

.search-input {
  background-color: white;
  color: #000;
  padding: 10px 100px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #333;
  cursor: pointer;
}

.main-container {
  display: flex;
  position: absolute;
  top: 0;
  padding-top: 4.8rem;
  height: 100vh;
  width: 100vw;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.event-data {
  color: #000;
}

.header-base-container {
  display: flex;
  flex-direction: column;
}

/*///////////////////////////
/////////ANIMATIONS/////////
/////////////////////////// */

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

/*///////////////////////////
/////////WYDARZENIA/////////
/////////////////////////// */

.btn-slide-right {
  background-color: rgba(217, 217, 217, 0.7);
  color: #000;
  margin-left: 1rem;
}

.btn-slide-left {
  background-color: rgba(217, 217, 217, 0.7);
  color: #000;
  margin-right: 1rem;
}

/* Style dla wydarzeń */
.events-container {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  border-radius: 8px;
}

.events-container.event-box {
  background-color: transparent;
}

.events-container.events-wrapper {
  background-color: #fff;
}

.event-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

/* Styl dla komunikatu o braku wydarzeń */
.no-events-message {
  margin-top: 20px;
  font-weight: bold;
  color: red;
}
img {
  width: 150px;
}

.search-item {
  margin: 2rem auto;
  max-width: 500px;
  width: 95%;
  font-weight: 600;
  font-size: 1.25rem;
}
.search-item hr {
  color: lightgray;
  border-top: none;
  margin: -1.3rem 0 0.5rem 0;
}

.event-data.description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show 3 lines of text */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.event-data.description.expanded {
  -webkit-line-clamp: none; /* Show all lines of text when expanded */
}
