.main-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.left-bar {
  width: 200px;
  background-color: rgba(217, 217, 217, 0.67);
  color: #000;
  padding: 20px;
  height: 100vh;
  padding-top: 2rem;
  padding-left: 2rem;
}

.section {
  display: flex;
  padding: 1.1rem;
}

.section:hover {
  cursor: pointer;
  background-color: rgba(217, 217, 217, 0.3);
  border-radius: 16px;
}

.section i {
  margin-top: 5px;
  margin-right: 10px;
}

.header-section {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: inherit;
  width: 60%;
}

.title-section {
  margin-bottom: 0.5rem;
}

.create-btn {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.btn-header-container {
  margin-bottom: 2rem;
}

.header-section.card.logged-card {
  width: 70%;
}

.logged-event-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  background-color: transparent;
}
