
.myevent-card{
  align-items: center;
  background-color: transparent;
  border: 1px solid;
  border-color:  #000;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  scroll-snap-type: x mandatory;
}
.myevent-image-container {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  height: 300px;
  width: 300px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  border: 1px solid #ccc; 
  
}
.myevent-image {
  align-self: auto;
  background-color: #d8d8d880;
  flex: 1;
  flex-grow: 1;
  display: block;
  object-fit: cover; /* Ensure the entire image is visible while maintaining aspect ratio */
  /* max-width: 100%; /* Limit the image width to 100% of the container */
  max-height: 100%; /* Limit the image height to 100% of the container */
  width: auto; /* Allow the width to adjust based on the container's dimensions */
  height: auto; /* Allow the height to adjust based on the container's dimensions */
  position: absolute; /* Position the image relative to the container */
  top: 50%; /* Position the image vertically centered */
  left: 50%; /* Position the image horizontally centered */
  transform: translate(-50%, -50%);
}
.myevent-text-content {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
  position: relative;
  width: 100%;
}
.myevent.title {
  align-self: stretch;
  background-color: transparent;
  color:  #000;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: left;
}
.myevent-date {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto';
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: relative;
  text-align: left;
}

.myevent-arrowSlider {
  display: flex;
  flex-flow: row;
  left: 0;
  list-style-type: none;
  margin: 10 auto;
  -ms-overflow-style: none;
  overflow-x: auto;
  position: relative;
  scroll-snap-type: y mandatory;
  top: 0;
  width: 100%;
  z-index: 0;
  gap: 20px;
  width: 780px;
  padding-left: 20px;
}
.slider-container {
  position: relative;
  overflow: hidden;
}

