.profile-card {
  width: 60%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-image {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.profile-title {
  margin-top: 0;
  color: #000;
}

.profile-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.profile-title {
  padding: 1rem 1rem 1rem 2rem;
}
